<div class="row" style="margin-top:2em;">
  <div class="col-md-offset-2 col-md-8">
    <p class="text-center small-text">VegFest, Inc is a 501(c)3 non-profit organization that organizes vegetarian festivals and educational programming. Your contribution is tax-deductible. If you're already a member but lost your card, you can <a href="https://goo.gl/forms/h6Qif8C6u9TOUUBV2">request a replacement card</a>. You can <a href="https://goo.gl/forms/dB3KCueQ75pVv73g2">cancel your membership</a> at any time.</p>
  </div>
</div>
</div>
</header>

</div>
</body>
</html>
