<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VegFest Membership</title>

    <meta property="og:type" content="article">
		<meta property="og:url" content="https://member.vegfest.org">
		<meta property="og:image" content="https://member.vegfest.org/assets/img/new-england-vegfest-volunteer-team.jpg">
		<meta property="og:title" content="Become a member of VegFest today!">
		<meta property="og:site_name" content="VegFest.org">
		<meta property="og:description" content="Show your support for New England VegFest and VegWorcester by becoming a VegFest member today! You'll also get discounts and perks for lots of local restaurants & businesses.">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Become a member of VegFest today!">
		<meta name="twitter:description" content="Show your support for New England VegFest and VegWorcester by becoming a VegFest member today! You'll also get discounts and perks for lots of local restaurants & businesses.">
		<meta name="twitter:image" content="https://member.vegfest.org/assets/img/new-england-vegfest-volunteer-team.jpg">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/font-awesome-4.0.3.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="/assets/js/getparam.js"></script>

  </head>
  <body class="green-veg-pattern-background">
    <div class="mx-auto">

    <div class="mx-auto" id="top-heading">
