<section id="memberperks">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h2 class="zona">MEMBER DISCOUNTS & PERKS</h2>
        <ul>
        <li><strong>New England VegFest</strong> <em>Worcester, MA</em> <em>April 29, 2018</em> <br><span class="perks-small-print">Skip the lines!</span></li>
        <li><strong>The Vegan Nest</strong> <em>Worcester, MA</em> <br><span class="perks-small-print"> 10% off every day</span></li>
        <li><strong>WooBerry</strong> <em>Worcester, MA</em> <br><span class="perks-small-print">10% off every day</span></li>
        <li><strong>Pizza Palace</strong> <em>Milford, MA</em> <br><span class="perks-small-print">10% off every day</span></li>
        <li><strong>Green Hair Company</strong> <em>Worcester, MA</em> <br><span class="perks-small-print">10% off products every day</span></li>
        <li><strong>NU Cafe</strong> <em>Worcester, MA</em> <br><span class="perks-small-print">20% off every Tuesday</span></li>
        <li><strong>Belmont Vegetarian</strong> <em>Worcester, MA</em> <br><span class="perks-small-print">Free upgrade from medium to large on Thursdays</span></li>
        <li><strong>Pet Rock Fest Festival</strong> <em>Grafton, MA</em> <br><span class="perks-small-print">$2 off admission</span></li>
        </ul>
      <em>More discounts & perks added all the time, check back here for the most up-to-date list!</em>
    </div>
  </div>
</section>
