<style media="screen">
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

</style>


<script src="https://js.stripe.com/v3/"></script>

<form action="/subscribe" method="post" id="payment-form">
  <input id="stripeToken" type="hidden" name="stripeToken" value="">
  <input id="src" type="hidden" name="src" value="unknown">

  <div class="form-group row">
    <div class="col-sm-12" style="font-size:1.25em">
      Select your monthly contribution:
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2 mx-auto">
      <input type="radio" name="subscriptionPlan" id="membership-06" value="membership-06" data-amount="6"> <label for="membership-06">$6</label>
    </div>
    <div class="col-sm-2 mx-auto">
      <input type="radio" name="subscriptionPlan" id="plan_EcdyYnI6uTihEv" value="plan_EcdyYnI6uTihEv" data-amount="10"> <label for="plan_EcdyYnI6uTihEv">$10</label>
    </div>
    <div class="col-sm-2 mx-auto">
      <input type="radio" name="subscriptionPlan" id="membership-14" value="membership-14" data-amount="14" checked> <label for="membership-14">$14</label>
    </div>
    <div class="col-sm-2 mx-auto">
      <input type="radio" name="subscriptionPlan" id="membership-25" value="membership-25" data-amount="25"> <label for="membership-25">$25</label>
    </div>
    <div class="col-sm-2 mx-auto">
      <input type="radio" name="subscriptionPlan" id="membership-50" value="membership-50" data-amount="50"> <label for="membership-50">$50</label>
    </div>
  </div>
  <hr>

  <div class="form-group row">
    <label for="stripeShippingName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input id="stripeShippingName" class="form-control" type="text" name="stripeShippingName" value="" placeholder="John Smith" required>
    </div>
  </div>

  <div class="form-group row">
    <label for="stripeEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input id="stripeEmail" class="form-control" type="email" name="stripeEmail" value="" placeholder="john.smith@gmail.com" required>
    </div>
  </div>
  <hr>
  <div class="form-group row">
    <label for="stripeShippingAddressLine1" class="col-sm-2 control-label">Mailing Address</label>
    <div class="col-sm-10">
      <input id="stripeShippingAddressLine1" class="form-control" type="text" name="stripeShippingAddressLine1" value="" placeholder="100 Main Street">
    </div>
  </div>

  <div class="form-group row">
    <label for="stripeShippingAddressCity" class="col-sm-2 control-label">City</label>
    <div class="col-sm-10">
      <input id="stripeShippingAddressCity" class="form-control" type="text" name="stripeShippingAddressCity" value="" placeholder="Worcester" required>
    </div>
  </div>


    <div class="form-group row">
      <label for="stripeShippingAddressState" class="col-sm-2 control-label">State</label>
      <div class="col-sm-10">
        <input id="stripeShippingAddressState" class="form-control" type="text" name="stripeShippingAddressState" value="" placeholder="MA" required>
      </div>
    </div>

  <div class="form-group row">
    <label for="stripeShippingAddressZip" class="col-sm-2 control-label">Zip</label>
    <div class="col-sm-10">

      <input id="stripeShippingAddressZip" class="form-control" type="text" name="stripeShippingAddressZip" value="" placeholder="01608">
    </div>
  </div>
<hr>
  <div class="form-group row">
    <div class="col-sm-12">
      <label for="card-element">
        Credit or debit card
      </label>
      <div id="card-element">
        <!-- a Stripe Element will be inserted here. -->
      </div>

      <!-- Used to display form errors -->
      <div id="card-errors" role="alert"></div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12 text-center">
      <br>
      <button id="sign-up-submit" class="btn btn-primary btn-lg" >Become a member</button>

    </div>

  </div>
</form>


<script type="text/javascript">

var src=getParameterByName('src');//get src GET param
if (src == '') {
  src = 'unknown';//if src GET param doesn't exist, then set it to to 'unknown'
}
$('#src').val(getParameterByName('src'));//put src var in form so it gets submitted to the backend

// Create a Stripe client
var stripe = Stripe('{{keyPublishable}}');

// Create an instance of Elements
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
base: {
  color: '#32325d',
  lineHeight: '18px',
  fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
  fontSmoothing: 'antialiased',
  fontSize: '16px',
  '::placeholder': {
    color: '#aab7c4'
  }
},
invalid: {
  color: '#fa755a',
  iconColor: '#fa755a'
}
};

// Create an instance of the card Element
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
var displayError = document.getElementById('card-errors');
if (event.error) {
  displayError.textContent = event.error.message;
} else {
  displayError.textContent = '';
}
});

// Handle form submission
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  //get the amt of membership by slicing the last 2 char off the end
  var amt = $('input[name=subscriptionPlan]:checked', '#payment-form').val().slice(11,13);

  fbq('track', 'Purchase', {value: amt, currency: 'USD'});

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server
      stripeTokenHandler(result.token);
    }
  });
});

function stripeTokenHandler (token) {
  // Insert the token ID into the form so it gets submitted to the server
  $('#stripeToken').val(token.id);

  // Submit the form
  form.submit();
}
</script>
