{{> header }}

      <header class="row" id="event-header">
	      <div class="col-md-10 col-lg-10 col-xl-9 mx-auto" style="background: linear-gradient(to bottom,#fff 0,#eaeaea 100%);border-radius: 5px;-webkit-box-shadow: 0 1px 9px 0 rgba(0,0,0,0.7);box-shadow: 0 1px 9px 0 rgba(0,0,0,0.7);padding:5%; margin-top  :2%;">
          <div class="row">
            <div class="col-sm-offset-2 offset-md-3 col-sm-8 text-center mx-auto">
              <img src="/assets/img/vegetables.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="text-center">
            <h1 class="zona">3 Reasons to Become a VegFest Member</h1>
          </div>

          <p>In case early entry to New England VegFest — that's Sunday, April
            29 at 11 AM this year! — isn't enough to sell you on becoming a
            member, here are three more reasons to become a VegFest member: </p>

          <h2>1. To change Worcester for the better. </h2>

          <p>
            Each year, VegFest members fund cook-offs, pop-ups, cookie swaps,
            and more. With your support, we'll continue to grow Worcester's
            vegan and vegetarian community with even more compassionate
            programming.
          </p>
          <img src="/assets/img/macdaddy-competition.jpg" class="img-fluid">

          <p class="text-center" style="font-size: 0.90em;">
            In January, dozens of hungry VegFest supporters got together for
            Mac Daddy, our annual mac and cheese cook-off.
          </p>

          <h2>2. To change the world for the better.</h2>
          <p>
            Membership funds the best veg fest in the whole country. With your
            help, we'll continue to grow
            <a href="https://NewEnglandVegFest.com/" target="_blank">
              New England VegFest</a> so we can help people from near and far
              discover the benefits of a plant-based life.
          </p>
          <img src="/assets/img/new-england-vegfest-volunteer-team.jpg"
          class="img-fluid">
          <p class="text-center" style="font-size: 0.90em;">
            Each year, VegFest volunteers work together — and have fun while
            doing it! — to spread the word about plant-based living.
          </p>
          <h2>3. For discounts, duh.</h2>
          <p>
            Members get the following super cool discounts:
          </p>
          {{> membership-perks}}
          <br>
          <h2>Don’t delay! Sign up today.</h2>
          <br>
          <hr>
          <br>

          <p>
            {{!-- <br>
            <h2>Help Sustain the New England VegFest & VegWorcester</h2>
            <p class="p-3">
              Attending New England VegFest is free &amp; open to the public and we rely on support &amp; donations from individuals to make this event happen. This festival is organized &amp; run by volunteers. If you've attended in the past and enjoyed the event, please show your support by becoming a member today&mdash;we have some nice perks to show our gratitude!
            </p>

            <img src="/assets/img/vegfest-card-preview.jpg" class="img-fluid"> --}}



            {{!-- {{> membership-perks}} --}}
            <div class="row m-3">
              <div class="col-xs-12 mx-auto">
                <h2 class="zona">Sign Up</h2>
                <hr>
              </div>
            </div>


              <div class="row w-100">
                <div class="col-md-8 mx-auto">
                  {{>signup-form}}
                </div>
              </div>




{{> footer }}
