{{> header }}

      <header class="row" id="event-header">
	      <div class="col-md-10 col-lg-10 col-xl-9 mx-auto" style="background: linear-gradient(to bottom,#fff 0,#eaeaea 100%);border-radius: 5px;-webkit-box-shadow: 0 1px 9px 0 rgba(0,0,0,0.7);box-shadow: 0 1px 9px 0 rgba(0,0,0,0.7);padding:5%; margin-top  :2%;">
          <div class="row">
            <div class="col-sm-offset-2 offset-md-3 col-sm-8 text-center mx-auto">
              <img src="/assets/img/vegetables.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="text-center">
            <h1 class="zona">Become a VegFest Member!</h1>
  	        <h2>
              Show your support for <strong>VegWorcester</strong> & <strong>New England VegFest</strong>!
  	        </h2>
            <img src="/assets/img/new-england-vegfest-volunteer-team.jpg" class="img-fluid">
          </div>

          <p>


            <br>
            <h2>Help Sustain the New England VegFest & VegWorcester</h2>
            <p class="p-3">
              Attending New England VegFest is free &amp; open to the public and we rely on support &amp; donations from individuals to make this event happen. This festival is organized &amp; run by volunteers. If you've attended in the past and enjoyed the event, please show your support by becoming a member today&mdash;we have some nice perks to show our gratitude!
            </p>

          {{!-- <form id="stripe-form" class="" action="/subscribe" method="post"> --}}

            {{> membership-perks}}
            <div class="row m-3">
              <div class="col-xs-12 mx-auto">
                <h2 class="zona">Sign Up</h2>
                <hr>
              </div>
            </div>


              <div class="row w-100">
                <div class="col-md-8 mx-auto">
                  {{>signup-form}}
                </div>
              </div>



            {{!-- <div class="row">
              <div class="offset-md-1 col-md-10">


              </div>

            </div> --}}
          {{!-- </form> --}}

        <script>

        function addTokenToDOM (token, args) {
          // Use the token to create the charge with a server-side script.
          // You can access the token ID with `token.id`
          $('#stripeToken').val(token.id);
          $('#stripeEmail').val(token.email);
          $('#stripeShippingName').val(args.shipping_name);
          $('#stripeShippingAddressLine1').val(args.shipping_address_line1);
          $('#stripeShippingAddressZip').val(args.shipping_address_zip);
          $('#stripeShippingAddressState').val(args.shipping_address_state);
          $('#stripeShippingAddressCity').val(args.shipping_address_city);
          $('#stripeShippingAddressCountry').val(args.shipping_address_country);
          $('#stripeShippingAddressCountryCode').val(args.shipping_address_country_code);

          console.log('token ',token);
          console.log('arg ',args);

          $('#stripe-form').submit();
        }

        function configureCheckout (name, desc, amtInCents, planID) {
          $('#subscriptionPlan').val(planID);

          var checkout = StripeCheckout.configure({
            name: name,
            description: desc,
            amount:amtInCents,
            token: addTokenToDOM,
            locale:"auto",
            key:"{{keyPublishable}}",
            // image:"//member.vegfest.org/assets/images/vegfest-only-color-logo.png",
            panelLabel:"Become a member",
            billingAddress:true,
            zipCode:true,
            shippingAddress:true,
            allowRememberMe:false
          });
          checkout.open();

        }

        $(document).ready(function () {

          $('#membership-individual').click( function(e) {
            configureCheckout("Individual Membership", "$6/month", 600, "membership-individual06");
            e.preventDefault();
          });
          $('#membership-family').click( function(e) {
            configureCheckout("Family Membership", "$14/month", 1400, "membership-family14");
            e.preventDefault();
          });
          $('#membership-vip').click( function(e) {
            configureCheckout("VIP Membership", "$25/month", 2500, "membership-vip25");
            e.preventDefault();
          });

        })
    </script>
{{> footer }}
