{{> header }}

      <header class="row" id="event-header">
	      <div class="col-md-10 col-lg-10 col-xl-9 mx-auto" style="background: linear-gradient(to bottom,#fff 0,#eaeaea 100%);border-radius: 5px;-webkit-box-shadow: 0 1px 9px 0 rgba(0,0,0,0.7);box-shadow: 0 1px 9px 0 rgba(0,0,0,0.7);padding:5%; margin-top  :2%;">
          <div class="row">
            <div class="col-sm-offset-2 offset-md-3 col-sm-8 text-center mx-auto">
              <img src="/assets/img/vegetables.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="text-center">
            <h1 class="zona">Membership Stats</h1>

          </div>


          <hr>

          <p>
            <ul>
              <li>{{monthly06}} @ $6/mo members</li>
              <li>{{monthly14}} @ $14/mo members</li>
              <li>{{monthly25}} @ $25/mo members </li>
              <li>{{monthly50}} @ $50/mo members </li>
            </ul>

          </p>





{{> footer }}
